      <title>Login Page</title>
    <link rel="stylesheet" href="./project.css"> 
    <link rel="icon" href="./logo.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <div class="vh-200 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
      
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your Username and Password!</p>
      
                <div class="form-outline form-white mb-4">
                   
                  <form action="/login" enctype="application/x-www-form-urlencoded" method="post">  
                   

                  {{#if errMsg}}
                      <spam style="color: red;">{{errMsg}}</spam>
                  {{/if}}
                    {{#if sentData.errorMsg.Errorusername }}
                      <spam style="color: red;">{{sentData.errorMsg.Errorusername}}</spam>
                    {{/if}}
                    {{#if sentData.errorMsg.firstNameChar }}
                       <spam style="color: red;">{{sentData.errorMsg.ErrorusernameChar}}</spam>
                    {{/if}}
                    <input type="text" value="{{sentData.data.username}}" name="username" 
                    class="form-control form-control-lg" placeholder="Enter Username" />

                      <br><br>
                    {{#if sentData.errorMsg.Errorpassword }}
                      <spam style="color: red;">{{sentData.errorMsg.Errorpassword}}</spam>
                    {{/if}}
                    <input type="password" value="{{sentData.data.password}}" name="password"
                    class="form-control form-control-lg" placeholder="Enter password" />

                      <br><br>

                    <input type="submit" value="Login" name="login" />

                  </form>
                </div>
      
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
              </div>
      
              <div>
                <p class="mb-0">Don't have an account? 
                  <a href="/registration" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>